sub vcl_synth {
  if (resp.status == 401) {
    set resp.status = 401;
    set resp.http.WWW-Authenticate = "Basic";
    return(deliver);
  }
  if (resp.status == 403) {
    set resp.status = 403;
    return(deliver);
  }
}
